/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.docker
/.idea
/.vscode
/.certs
/.sites-avaliable/*
laravel-echo-server.json

!.sites-avaliable/buzzin.com.br.conf
!.sites-avaliable/buzzin.com.conf
!.sites-avaliable/default.buzzin.com.br.conf
!.sites-avaliable/default.buzzin.com.conf
