@font-face {
    font-family: 'Woff';
    src: url('../fonts/ionicons.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Woff';
    src: url('../fonts/ionicons.woff2') format('woff');;
    font-weight: 600;
}

@font-face {
    font-family: 'Woff';
    src: url('../fonts/ionicons.woff') format('woff');;
    font-weight: 300;
}